.card-product {
    background: $theme-background-color;
    box-shadow: $theme-box-shadow;
    color: $theme-neutral-color;
    
    margin: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 37.5rem;
    transition: all 0.3s ease-in-out;

    &__info {
        padding: 2rem;
    }

    &__picture img {
        display: block;
        @include img-fluid;
    }

    &__title {
        @include font-style(2.1rem, 700);
        line-height: 0.95;
        font-family: $theme-alt-font;
        margin-block: 1.2rem;
    }

    &__subtitle {
        @include font-style(0.8rem, 400);
        color: $theme-neutral-grayish-color;
        text-transform: uppercase;
        letter-spacing: 0.35em;
    }

    &__description {
        @include font-style(0.9rem, 400);
        color: $theme-neutral-grayish-color;
        line-height: 1.7;
    }

    &__price {
        @include font-style(2rem, 700);
        margin-block: 1.4rem;
        
        font-family: $theme-alt-font;
        @include flex(row, flex-start);
        gap: 1.7rem;
        color: $theme-primary-color;
    }

    &__old-price {
        @include font-style(0.9rem, 400);
        color: $theme-neutral-grayish-color;
    }

    @include media-hover-effect {
        &:hover {
            box-shadow: $theme-box-shadow-hover;
        }
    }

    @include query($screen-rwd) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}